:root {
--be-main-color0: #e6f4ff;
--be-main-color1: #bae0ff;
--be-main-color2: #91caff;
--be-main-color3: #69b1ff;
--be-main-color4: #4096ff;
--be-main-color5: #1677ff;
--be-main-color6: #0958d9;
--be-main-color7: #003eb3;
--be-main-color8: #002c8c;
--be-main-color9: #001d66;
--be-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,'Noto Sans','sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol','Noto Color Emoji';
--be-white: #ffffff;
--be-success: #52c41a;
--be-warning: #faad14;
--be-error: #f5222d;
--be-info: #bfbfbf;
--be-font-main: #1f1f1f;
--be-font-title: #1f1f1f;
--be-font-secondary: #8c8c8c;
--be-font-disable: #bfbfbf;
--be-background: darken($white,4%);
--be-h1: 24px;
--be-h2: 20px;
--be-h3: 18px;
--be-h4: 16px;
--be-h5: 14px;
--be-h6: 12px;
--be-bold-main: 400;
--be-bold-title: 600;
--be-shadow1: 0 0px 6px 0px rgba(0,0,0,0.12);
--be-margin0: 16px;
--be-margin1: 12px;
--be-margin2: 8px;
--be-margin3: 4px;
--be-padding0: 16px;
--be-padding1: 12px;
--be-padding2: 8px;
--be-border: #d9d9d9;
--be-radius: 4px;
}
