@use './function.scss' as *;
// 动画时间
$animation-duration: 0.3s;
/*
淡入淡出效果
*/
#{ns('fade-enter-active')},
#{ns('fade-leave-active')} {
  transition: opacity $animation-duration ease;
  opacity: 1;
}

#{ns('fade-enter-from')},
#{ns('fade-v-leave-to')} {
  opacity: 0;
}
