// 定义全局的scss变量
$namespace: 'be'; // 全局样式前缀
$connector: '-'; // 连接符

// 绿色
$success: #52c41a;
// 黄色
$warning: #faad14;
// 红色
$error: #f5222d;
// 灰色
$info: #bfbfbf;
// 黑色
$black: #000000;
// 白色
$white: #ffffff;
$black: #000000; // 黑色

$main-color: #00B582; // 主色调

